[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"

[dev-packages]
black = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python manage.py runserver"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
shell = "python manage.py shell"
watch = "watchmedo tricks-from tricks.yaml"
format = "black ."
